<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="OleDbConnection1.ConnectionString" value="" />
		<add key="SqlConnection1.ConnectionString" value="workstation id=2003SERVER;packet size=4096;integrated security=SSPI;data source=2003SERVER;persist security info=False;initial catalog=Northwind" />
		<add key="ColumnHeader1.Text" value="ColumnHeader" />
		<add key="ColumnHeader1.Width" value="60" />
	</appSettings>
</configuration>